@font-face {
  font-family: "CoFoSans-Bold";
  font-display: swap;
  src: url("../fonts/CoFoSans-Bold.woff") format("woff"), url("../fonts/CoFoSans-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CoFoSans-Regular";
  font-display: swap;
  src: url("../fonts/CoFoSans-Regular.woff") format("woff"), url("../fonts/CoFoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CoFoSans-Medium";
  font-display: swap;
  src: url("../fonts/CoFoSans-Medium.woff") format("woff"), url("../fonts/CoFoSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* :before,
* :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a :active,
a :focus {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

._container {
  max-width: 1184px;
  margin: 0 auto;
}

._title {
  font-family: CoFoSans-Regular;
  font-size: 40px;
  color: #1A252C;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.header__logo-star {
  padding: 21px 11px 21px 0;
}

.header__logo-text {
  display: inline-block;
  vertical-align: middle;
}

.header__info {
  font-family: CoFoSans-Regular;
  font-size: 16px;
  line-height: 22px;
  color: #1A252C;
  padding-left: 31px;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 2px solid #E2E2E2;
  padding: 0 15px;
}

.header__menu li:last-child {
  border-right: 2px solid #E2E2E2;
}

.header__menu li a {
  color: #1A252C;
  font-family: CoFoSans-Regular;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.header__menu li a:hover {
  color: #EC2510;
}

.banner {
  background-image: url("../image/top_baner.png");
  height: 656px;
}

.date {
  background-color: #F8F8F8;
  border-bottom: 1px solid #E2E2E2;
}

.date__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.date__title {
  line-height: 50px;
  padding-bottom: 16px;
}

.date__subtitle {
  font-family: CoFoSans-Regular;
  font-size: 24px;
  line-height: 32px;
  color: #1A252C;
}

.date__timer {
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  -webkit-box-shadow: 0px 5px 15px rgba(85, 85, 85, 0.1);
          box-shadow: 0px 5px 15px rgba(85, 85, 85, 0.1);
  border-radius: 5px;
}

.date__timer-day {
  padding: 28px 41px;
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__block p {
  font-family: CoFoSans-Regular;
  font-size: 20px;
  line-height: 28px;
  color: #1A252C;
}

.info__title {
  padding: 60px 0 18px 0;
}

.info__text {
  max-width: 780px;
  padding-bottom: 59px;
}

.info__year {
  padding-left: 60px;
  border: 1px solid #E2E2E2;
  border-top: none;
}

.info__year-wrapper {
  border: 1px solid #E2E2E2;
  width: 341px;
  height: 200px;
}

.info__year-award {
  font-family: CoFoSans-Regular;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0.02em;
  color: #EC2510;
}

.info__year-text {
  font-family: CoFoSans-Regular;
  font-size: 24px;
  line-height: 32px;
  color: #1A252C;
  padding-top: 2px;
}

.webp .banner { background-image: url(../image/top_baner.webp); }