@font-face {
  font-family: "CoFoSans-Bold";
  font-display: swap;
  src: url("../fonts/CoFoSans-Bold.woff") format("woff"), url("../fonts/CoFoSans-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CoFoSans-Regular";
  font-display: swap;
  src: url("../fonts/CoFoSans-Regular.woff") format("woff"), url("../fonts/CoFoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CoFoSans-Medium";
  font-display: swap;
  src: url("../fonts/CoFoSans-Medium.woff") format("woff"), url("../fonts/CoFoSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* :before,
* :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a :active,
a :focus {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

._container {
  max-width: 1184px;
  margin: 0 auto;
}

._title {
  font-family: CoFoSans-Bold;
  font-size: 40px;
  color: #1A252C;
}

._cross {
  height: 15px;
  width: 15px;
  position: relative;
}

._cross:after,
._cross:before {
  position: absolute;
  content: "";
}

._cross:after {
  top: 44%;
  left: 0;
  right: 0;
  height: 0.03em;
}

._cross:before {
  left: 44%;
  top: 0;
  bottom: 0;
  width: 0.03em;
}

._position-left-top {
  position: absolute;
  left: -8px;
  top: -8px;
  z-index: 1;
}

._position-left-bottom {
  position: absolute;
  left: -8px;
  bottom: -9px;
  z-index: 1;
}

._position-right-top {
  position: absolute;
  right: -9px;
  top: -8px;
  z-index: 1;
}

._position-right-bottom {
  position: absolute;
  right: -9px;
  bottom: -9px;
  z-index: 1;
}

._circle {
  background: #EC2510;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
}

._border {
  border: 1px solid #E2E2E2;
}

._social-mahog-text {
  font-family: CoFoSans-Regular;
  font-size: 20px;
  line-height: 28px;
  color: #1A252C;
  text-align: center;
  padding-top: 16px;
}

._social-red {
  color: #EC2510;
}

._border_red {
  border-color: #EC2510;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.header__logo-star {
  padding: 21px 11px 21px 0;
}

.header__logo-text {
  display: inline-block;
  vertical-align: middle;
}

.header__info {
  font-family: CoFoSans-Regular;
  font-size: 16px;
  line-height: 22px;
  color: #1A252C;
  padding-left: 31px;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 2px solid #E2E2E2;
  padding: 0 15px;
}

.header__menu li:last-child {
  border-right: 2px solid #E2E2E2;
}

.header__menu li a {
  color: #1A252C;
  font-family: CoFoSans-Regular;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.header__menu li a:hover {
  color: #EC2510;
}

.banner {
  background-image: url("../image/top_baner.png");
  height: 656px;
}

.date {
  background-color: #F8F8F8;
  border-bottom: 1px solid #E2E2E2;
}

.date__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.date__title {
  line-height: 50px;
  padding-bottom: 16px;
}

.date__subtitle {
  font-family: CoFoSans-Regular;
  font-size: 24px;
  line-height: 32px;
  color: #1A252C;
}

.date__timer {
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  -webkit-box-shadow: 0px 5px 15px rgba(85, 85, 85, 0.1);
          box-shadow: 0px 5px 15px rgba(85, 85, 85, 0.1);
  border-radius: 5px;
}

.date__timer-day {
  padding: 28px 41px;
}

.info {
  border-bottom: 1px solid #e2e2e2;
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__block {
  padding-right: 60px;
}

.info__block p {
  font-family: CoFoSans-Regular;
  font-size: 20px;
  line-height: 28px;
  color: #1A252C;
}

.info__title {
  padding: 60px 0 18px 0;
}

.info__text {
  max-width: 780px;
  padding-bottom: 59px;
}

.info__year {
  height: 401px;
  border: 1px solid #E2E2E2;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__year-wrapper {
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}

.info__year__cross-grey:after,
.info__year__cross-grey:before {
  background: #777777;
}

.info__year-award {
  font-family: CoFoSans-Regular;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0.02em;
  color: #EC2510;
  padding: 28px 38px 2px 37px;
}

.info__year-text {
  font-family: CoFoSans-Regular;
  font-size: 24px;
  line-height: 32px;
  color: #1A252C;
  padding-top: 2px;
  text-align: center;
  padding-bottom: 38px;
}

.description__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.description__nomination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description__nomination-count {
  text-align: center;
  font-family: CoFoSans-Regular;
  font-size: 80px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 48px 0 13px;
}

.description__nomination-block {
  margin: 0 auto;
  width: 76px;
  background-color: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description__nomination-img {
  padding: 12px 0;
}

.description__leader-foto {
  background-image: url("../image/leader.png");
}

.description__text {
  font-family: CoFoSans-Regular;
  font-size: 24px;
  line-height: 32px;
  color: #1A252C;
  white-space: nowrap;
  padding-top: 24px;
}

.description__broadcast-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__broadcast-count {
  font-family: CoFoSans-Regular;
  font-size: 58px;
  line-height: 48px;
  color: #FFFFFF;
  padding-top: 22px;
}

.description__broadcast-month {
  font-family: CoFoSans-Regular;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  padding-bottom: 8px;
}

.description__broadcast-line {
  width: 73px;
  height: 1px;
  background: #FFFFFF;
}

.description__broadcast-time {
  font-family: CoFoSans-Regular;
  font-size: 25px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding-bottom: 24px;
  padding-top: 6px;
}

.description__broadcast-block {
  margin: 0 auto;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 30px;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
}

.description__broadcast-text {
  font-family: CoFoSans-Bold;
  font-size: 12px;
  color: #EC2510;
  text-transform: uppercase;
}

.nomination {
  background-color: #F8F8F8;
}

.nomination__wrapper {
  padding: 60px 0 60px;
}

.nomination__title {
  line-height: 48px;
  padding-bottom: 32px;
}

.nomination__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 170px;
}

.nomination__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nomination__item-description {
  grid-column: 1/3;
}

.nomination__item-description p {
  font-family: CoFoSans-Regular;
  font-size: 19px;
  line-height: 28px;
  color: #1A252C;
  padding: 29px 40px;
}

.nomination__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 38px;
  height: 38px;
  left: 0px;
  top: 0px;
  border: 1px solid #E2E2E2;
  border-top: none;
  border-left: none;
  font-size: 16px;
  color: #EC2510;
  font-family: CoFoSans-Regular;
}

.nomination__item-text {
  padding: 0 48px 0 40px;
  font-family: CoFoSans-Regular;
  font-size: 18px;
  line-height: 24px;
  color: #1A252C;
}

.nomination__item-cross-red:after,
.nomination__item-cross-red:before {
  background-color: #EC2510;
}

.social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 116px;
}

.social__mail {
  width: 580px;
  line-height: 50px;
  padding-right: 20px;
}

.social__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__development-img {
  padding: 0 16px 22px 24px;
}

.social__development-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 200px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  font-family: CoFoSans-Bold;
  font-size: 30px;
  line-height: 32px;
  color: #1A252C;
}

.social__vacancy {
  padding-left: 20px;
}

.social__vacancy-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 200px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
}

.footer {
  background-color: #F8F8F8;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.footer__social-text {
  -ms-flex-item-align: center;
      align-self: center;
  font-family: CoFoSans-Regular;
  font-size: 18px;
  line-height: 26px;
  color: #1A252C;
  padding-right: 32px;
}

.footer__social-block img {
  padding-right: 24px;
}

.footer__text {
  font-size: 18px;
  line-height: 26px;
  color: #1A252C;
  font-family: CoFoSans-Regular;
  -ms-flex-item-align: center;
      align-self: center;
}

.webp .banner { background-image: url(../image/top_baner.webp); }

.webp .description__leader-foto { background-image: url(../image/leader.webp); }